 .containerCloseBtn {
     display: flex;
     justify-content: end;    

     .closeButton {
         background: transparent;
         color: black;
         width: 20px;
         font-size: 2rem;
         padding: 10px 18px;
     }

 }