 .containerCloseBtn {
     
     
     position: sticky;
       
         top: 10px; // Mantém o botão fixo ao rolar dentro do pai
         right: 200px;
     .closeButton {
         background: transparent;
         color: black;
         width: 20px;
         font-size: 2.5rem;
         padding: 10px 18px;
         position: relative;
         left: 88%;
     }


 }

 @media (max-width: 650px) {
    .containerCloseBtn {
        right:200px;
        left:73%;
.closeButton {
    z-index: 45;
}
    }
 }