@use './mixins' as *;

.footerContainer {
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 136px 0 0 0;
    border-top: 1px black solid;
    padding-top: 26px;

    .footerLogo {
        p {
            margin: 10px 0;
        }
    }

    .emailFooter {
        h2 {
            @include title(1.5rem);
            margin: 0;
        }

        .email {
            transition: transform 0.7s ease, color 0.7s ease;

            &:hover {
                transform: scale(1.05);
                color: orange;
            }

            a {
                text-decoration: none;
                color: inherit;
                display: inline-block;
            }
        }
    }

    .zapFooter {
        .btnContactFooter {
            @include button-3d($width: 80%, $margin: 0 10%);
        }
    }

   
}