@use './mixins' as *;

.container{

    .SingleProductBox {
        max-width: 1700px; 
        display: grid;
        grid-template-columns: 10% 40% 50%;
        gap: 15px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
        overflow: hidden; // Impede que imagens vazem para fora]]
    
        &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    .containerSideMenu{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
        .imageThumbnails {
            max-height: 60vh;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding-right: 5px;
            &::-webkit-scrollbar {
                width: 8px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 4px;
            }
            .thumbnail {
                border:solid 1px black;
                border-radius: 10px;
                cursor: pointer;
                transition: transform 0.2s ease-in-out;
                background-color: #f9f9f9;
                &:hover {
                    transform: scale(1.05);
                }
    
                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                    display: block;
                }
            }
        }
    }
       .mainImage {
           display: flex;
           align-items: center;
           justify-content: center;
           height: 100%;
           overflow: hidden;
           position: relative;
           z-index: 0; // Garante que a imagem não sobreponha elementos superiores
    
           .zoomContainer {
            position: relative;
            width: 100%; 
            overflow: hidden;
            cursor: zoom-in;
            background-repeat: no-repeat;
            background-position: center center;           
            background-size: 100%;           
           }
    
           img {
            width: 100%;
                height: 100%;
                /* width:auto; */
                /* height:auto; */
               object-fit: contain;
               position: relative;
               z-index: 10;
           }
    
           &:hover .zoomContainer {
               background-size: 400%; // Ajuste para determinar o nível de zoom
               background-repeat: no-repeat;
           }
    
           &:hover img {
               opacity: 0; // Esconde a imagem original ao ativar o zoom
           }
       }
        .productDetails {
        .mainItems {
                position: relative; // Permite que o pseudo-elemento fique sobreposto corretamente
                overflow: hidden; // Evita que o background vaze
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-family: 'Montserrat', sans-serif;
                background-color:#f2f2f2;
                
        
        
        
                .titleContainer,
                .specialSpecifications,
                .highlightPrice {
                    position: relative; // Para que fiquem acima do fundo opaco
                    z-index: 1;
                    width: 100%;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                }                
           
                .titleContainer h3 {
                    font-size: 4rem;
                    color: #2f2f2b;
                    font-family: Montserrat;
                    margin: 0;
                    font-weight: bold;
                    transition: transform 0.5s ease-in-out; // Suaviza tanto a ida quanto a volta
                }

                .titleContainer h3:hover {
                    transform: scale(1.15); // Cresce um pouco mais
                }
            
                .specialSpecifications h2{
                    padding: 3%;

                }
        
                .specialSpecifications h2 span {
                    color: #8f8f8d;
                   
                    font-size: 1.3rem;
                } 
                .specialSpecifications h2{
                    transition: transform 0.5s ease-in-out;
                }

                .specialSpecifications h2:hover {
                    transform: scale(1.05); // Cresce um pouco mais
                }

                .btnMoreDetailsPopup {
                    @include button-3d();
                }
                 
                
                .btnContact{
                @include button-3d();
                }

               
            }
             
                .highlightPrice{
                    text-align: start;             
                    
                    .price {
                        font-size: 3.5rem;   
                        background-color:#f9a402;
                        color: white;
                        border-radius: 1rem;
                        margin: 20px 10px;
                        padding: 0px 9px;
                        transition: transform 0.5s ease-in-out;
                    }
                    .price:hover {
                        transform: scale(1.15); // Cresce um pouco mais
                    }
                }
            
            display: flex;
            flex-direction: column;
            text-align: start;
            gap: 10px;
            padding: 10px;
            z-index: 1; // Garante que os detalhes do produto fiquem acima da imagem principal
          
            .hugeText{
                max-height: 30vh;
                overflow-y: auto;
                border: 1px solid black;
                background-color: #f9f9f9;
                border-radius: 20px;
            }
    
         
            h2,h3{
                font-size: 1.2rem;
                color: #333;
                margin:0;
                font-weight: bold;
                span{
                    font-weight: normal;
                    
                }
            }
            h3{
                padding:2%;
            }
            .productCode{
                position: relative;
                font-size: 1.2rem;
                z-index: 15;
                color: #2f2f2b;
                margin:0;
                font-weight: bold;
              
                cursor:pointer;
            .tooltip {
                    position: fixed; // Mantém o tooltip na tela, sem empurrar nada
                    background: black;
                    color: white;
                    padding: 5px 8px;
                    border-radius: 4px;
                    font-size: 12px;
                    white-space: nowrap;
                    pointer-events: none; // Impede que o tooltip interfira na interação do mouse
                    z-index: 1000;
                }
                span{
                    font-weight: bold;

                }
            }
        }
    }
        .adminContainer {
            display: flex;
            justify-content: space-between; // ou center/start/end
            gap: 10px;
            button{
                @include button-3d($width: 300px, $margin: 100px);                     
                flex: 1;
                
    margin: 0;   
            }
        }

}
@media (max-width: 650px) {
    .SingleProductBox {
        width: 100%;
         grid-template-columns: 1fr !important; 
           
        // grid-template-rows: 10% 40% 50%;
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
        padding: 10px;
        .containerSideMenu {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0 -5%;
                width: 90%;

            .imageThumbnails {
                max-width: 60vw;
                    overflow-x: auto;
                    display: flex;
                    // flex-direction: row;
                    gap: 10px;
                    padding-right: 5px;

                .thumbnail {
                    display:flex;
                    img {
                        width: auto;
                        height: 100px;
                    }
                }
            }
        }

        .mainImage {
            display: flex;
            flex-direction: column;
            img {
                max-width: 100%;
                max-height: 300px;
                margin-bottom: 3px;
            }
        }

        .productDetails {
            padding: 5px;
            width: 90%;
            margin:0 -5%;

            h2, h3 {
                font-size: 1rem;
            }
           
        }
        .title {
            font-size: 25px;
            margin: -4px -9px;

        }

        .price {
            font-size: 25px;
            margin: -20px -12px;

        }
    }
}