.SingleProductBox {
    width: 1500px;
 
    display: grid;
    grid-template-columns: 10% 50% 40%;
    gap: 15px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    overflow: hidden; // Impede que imagens vazem para fora

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
.containerSideMenu{
display:flex;
flex-direction: column;
justify-content: space-between;
.adminContainer{
    button, a{
        background-color: transparent;
        min-width: 200px;
        color:black;
    }
}
    .imageThumbnails {
        max-height: 60vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-right: 5px;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 4px;
        }

        .thumbnail {
            cursor: pointer;
            transition: transform 0.2s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                display: block;
            }
        }
    }
}

   .mainImage {
       display: flex;
       align-items: center;
       justify-content: center;
       height: 100%;
       overflow: hidden;
       position: relative;
       z-index: 0; // Garante que a imagem não sobreponha elementos superiores

       .zoomContainer {
        position: relative;
        width: 100%;            
        height: 70vh;
        overflow: hidden;
        cursor: zoom-in;
        background-repeat: no-repeat;
        background-position: center center;           
        background-size: 100%;           
       }

       img {
           max-width: 100%;
           max-height: 100%;
           width: auto;
           height: auto;
           object-fit: contain;
           position: relative;
           z-index: 10;
       }

       &:hover .zoomContainer {
           background-size: 400%; // Ajuste para determinar o nível de zoom
           background-repeat: no-repeat;
       }

       &:hover img {
           opacity: 0; // Esconde a imagem original ao ativar o zoom
       }
   }

    .productDetails {
        display: flex;
        flex-direction: column;
        text-align: start;
        gap: 10px;
        padding: 10px;
        z-index: 1; // Garante que os detalhes do produto fiquem acima da imagem principal
        .title {
            font-size: 20px;
            font-size: 30px;
            color: #333;
            margin: -12px 0;
        }
        .hugeText{
            max-height: 15vh;
            overflow-y: auto;
        }

        .price {
            font-size: 30px;
            font-size: 30px;
            color: #ff6500;
            margin: -20px 10px;
        }
        h2,h3{
            font-size: 1.2rem;
            color: #333;
            margin:0;
            font-weight: bold;
            span{
                font-weight: normal;
                
            }
        }
        h3{
            padding:2%;
        }
    }
}
@media (max-width: 650px) {
    .SingleProductBox {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;

        .containerSideMenu {
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .imageThumbnails {
                max-width: 60vw;
                    overflow-x: auto;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    padding-right: 5px;

                .thumbnail {
                    img {
                        width: auto;
                        height: 100px;
                    }
                }
            }
        }

        .mainImage {
            display: flex;
            flex-direction: column;
            img {
                max-width: 100%;
                max-height: 300px;
                margin-bottom: 3px;
            }
        }

        .productDetails {
            padding: 5px;

            h2, h3 {
                font-size: 1rem;
            }
            .title {
                font-size: 25px;
                margin: -4px -9px;
               
            }

            .price {
                font-size: 25px;
                margin: -20px -12px;
             
            }
        }
    }
}