.showcaseContainer {
    h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #333;
    }
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    .productsGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        .productCard {
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f9f9f9;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            h2 {
               font-size: 1.5rem;
               margin-bottom: 10px;
               color: #007bff;
            }
            
            p {
               margin: 5px 0;
               font-size: 1rem;
               color: #555;
            }
            
            a {
               color: #007bff;
               text-decoration: none;
            }
            a:hover {
               text-decoration: underline;
            }
            .containerImages {
                margin-top: 10px;
            }
            .containerImages{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                gap: 20px;
                img{
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }
}











.product-image {
    max-width: 100%;
    height: auto;
    margin: 5px 0;
    border-radius: 4px;
}